@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --cor-primaria: #0000ff;
    --cor-secundaria: #1414b8;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", sans-serif;
}

.btn.btn-primary{
    background-color: var(--cor-primaria);
}

.btn-outline-primary,
.btn-primary {
    min-width: 90px;
    margin-right: 2px;
}